<ul id="main-menu">
   <li><i class="material-icons">contact_support</i>Suporte a Produtos e Serviços</li>
   <li><i class="material-icons">shopping_basket</i>Processos de Compra</li>
   <li><i class="material-icons">verified_user</i>Atestar Serviços</li>
   <li><i class="material-icons">vpn_key</i>Gerir Chaves de Acesso</li>
   <li><i class="material-icons">supervised_user_circle</i>Parceria</li>
   <li><i class="material-icons">assessment</i>Consumo</li>
   <li><i class="material-icons">https</i>Alterar Senha</li>
   <li><i class="material-icons">filter_2</i>2ª Via de Documentos</li>
   <li><i class="material-icons">perm_contact_calendar</i>Gerenciar Contatos</li>
</ul>
