ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
   li {
      padding: 18px 6px 18px 24px;
      display: flex;
      align-items: center;
      border-top: 1px solid #d9d7d7;
      font-size: 14px;
      font-weight: 700;
      background: #ffffff;
      color: #666;
      cursor: pointer;
      &:hover {
         color: white;
         background: #037;
      }
      mat-icon {
         padding-right: 6px;
      }
   }
}
